.mainDivStyling {
    height: 31.3rem;
    background-Color: rgb(106,159,180);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.h1 {
    color: black;
}

.h4 {
    color: black;
}

.signUp {
    color: black;
    background-color: #1976D2;
    padding: 10px 24px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.3s;
}

.signUp:hover {
    background-color: #308dea; 
  }