

.post {
  background: #FFFFFF;
margin-left:250px;
  padding: 20px;
 
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
  width:70%;
}

.post-form {
  background: #90caf9 ;
  padding: 20px;
  width:70%;
  margin-left:250px;
}

.content {
  margin-left: 5px;
  width:70%;
  margin-left:250px;
}
