.inputField {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 500px;
    height: 200px;
    flex-direction: column;
}

.titleField {
    width: 80%;
    margin: auto;
}

.detailsField {
    width: 80%;
    margin: auto;
}

.postButton {
    color: black;
    background-color: #1976D2;
    padding: 10px 24px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.3s;
    max-width: 40%;
}

.postButton:hover {
    background-color: #308dea; 
  }