* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

.body {
  width: 100vw;
  height: 100vh;
}

.post {
  background-color: #1976D2;
  margin-left: 5px;
  display: flex;
  align-items: center;
  color: black;
  font-weight: 500;
  z-index: -1;
  width: 70%;

}

.form {
  background: transparent;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height:300px;
  padding-top: 5px;
  margin-left: 50px;
  z-index: -1;
}

.category {
  width: 240px;
  padding: 10px;
  right: 84px;
  position:fixed;
}

.titles {
  background-color: #E9E9ED;
  width: 240px;
  padding: 20px;
  right: 80px;
  position:fixed;
  padding-top:30px;
}

.contents {
  background-color: #E9E9ED;
  width: 240px;
  width: 240px;
  padding: 20px;
  right: 94px;
  padding-top:30px;
  position:fixed;
}

.content {

  z-index: -1;
}

.User {
  margin-left: 0;
  margin-top: 0;
  margin-right: 220px;
  width: 190px;
  height: 50px;
  border-radius: 50%;
}

.label {
  color: black;
  font-weight: 700;
  margin-top: 0;
  margin-right: 0;

}

.Title {
  color: Black;
  margin-top: 0;
  font-weight: 900;

}

.heading {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  flex-direction: row;
}

.content {
  color: Black;
  margin-bottom: 0;
  font-weight: 200;
  box-sizing: border-box;


}

.comments {
  display: flex;
  justify-content: space-evenly;
}

.button-default {
  width: 120px;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right:180px;
  color: black;
  background-color: #1976D2;
  display:flex;
  justify-content: center;
}