
.post {
  background-color:#1976D2;
margin-left:250px;
 display: flex;
 align-items: center;
  color: black;
  font-weight: 500;
 z-index: -1;
  width:70%;

}

.form {
  background: transparent;
  display: flex;
 justify-content: space-evenly;
 flex-direction: column;
align-items:center;
 padding-top:5px;
 margin-left: 450px;
  z-index: -1;
}
.category{
  width:240px;
  padding:10px;
  margin-right:7px;
  }
.titles{
  width:240px;
padding:10px;
margin-left:29px;
}
.contents{
  width:240px;
padding:20px;
}
.content {

  z-index: -1;
}

.User{
margin-left: 0;
margin-top: 0;
width:190px;
height:50px;
border-radius: 50%;
}
.label{
  color: black;
  font-weight: 700;
  margin-top: 0;
  margin-right: 0;

}
.Title{
  color: Black;
  margin-top: 0;
  font-weight: 900;

}
.heading{
display:flex;
justify-content: space-between;
flex-direction: row ;
}
.content{
  color: Black;
  margin-bottom: 0;
  font-weight: 200;
  box-sizing: border-box;


}
.comments{
display:flex;
justify-content: space-evenly;
}

.button-default{
  width:120px;
  height:50px;
  border-radius: 5px;
  color:black;
  background-color:#1976D2
}